<nav class="navbar navbar-expand-sm"style="padding-bottom:0px">
  <a class="navbar-brand" href="#"> IBM BANK</a>

  <!-- hamburger menu -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- nav-bar icons and links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item selected">
        <a class="nav-link" routerLink="/" routerLinkActive="active"><b>Home</b></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/About"
          routerLinkActive="active"
          ><b>AboutUs</b></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/Help"
          routerLinkActive="active"
          ><b>T&C</b></a
        >
      </li>

      <!-- <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          ><b></b></a
        >
      </li> -->
    </ul>
  </div>
</nav>

