<footer id="footer" >
  <div class="footer-top"style="padding-bottom:2px ;">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 footer-info">
          <h3>IBM BANK</h3>
          <p>IBM BANK, is a high quality, customer centric and service driven Bank. Since inception
            in 2020, IBM BANK has grown into a ‘Full Service Commercial Bank’ providing a complete range of products,
            services and technology driven digital offerings, catering to corporate, MSME & retail customers.</div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a routerLink="/Help" routerLinkActive="active">Privacy & policy</a></li>
            <li><a routerLink="/Help" routerLinkActive="active">Terms & conditions</a></li>

          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Subramanya Arcade Tower-C, Subramanya Arcade, Bannerghatta Main Rd,<br> Bengaluru, Karnataka 560029<br>

            <strong>Phone:</strong> +91-8008008000<br>
            <strong>Email:</strong> ibmindia@ibm.com<br>
          </p>



        </div>

        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>For any query related to the bank, please feel free to contact us.</p>


        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; 2021 Copyright <strong>IBM Bank</strong>. All Rights Reserved
    </div>
  </div>
</footer>
