<section id="about">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>About Us</h3>
      <p>IBM is an Indian multinational, public sector banking and financial services statutory body, fostering the
        nation’s 2.6 trillion-dollar economy and serving the hopes of its vast population.</p>
    </header>

    <div class="row about-container">

      <div class="col-lg-6 content order-lg-1 order-2">
        <p>
          For IBM, the interests of the common man havealways remained at the core of its business.With a
          customer-centric approach, the Bankhas designed products and services to meet the expectations of the
          financial life cycle of its valued clientele. Keeping pace with the transforming landscape of the Indian
          economy, SWIFT has broadened its digital base in the recent years.
        </p>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bi bi-card-checklist"></i></div>
          <h4 class="title"><a href="">Quick Start Account</a></h4>
          <p class="description">You can create a new account by yourself oe our employee can do that for you. Your
            account will be activated after we have successfully completed the KYC.
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bi bi-brightness-high"></i></div>
          <h4 class="title"><a href="">Instant Fund Transfer</a></h4>
          <p class="description">You can instantly do fund transfer from anywhere at any time. IBM BANK
            operates its Investment banking, Merchant banking & Brokerage businesses through IBM SECURITIES and its
            Mutual Fund business through IBM Asset Management (India) Limited, both wholly owned subsidiaries of the
            Bank.
        </div>

        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          <h4 class="title"><a href="">Our System</a></h4>
          <p class="description">IBM BANK, is a high quality, customer centric and service driven Bank. Since inception
            in 2020, IBM BANK has grown into a ‘Full Service Commercial Bank’ providing a complete range of products,
            services and technology driven digital offerings, catering to corporate, MSME & retail customers.  Headquartered in Mumbai, it has a pan-India presence across all 28 states and 9 Union Territories in
            India including an IBU at GIFT City, and a Representative Office in Abu Dhabi.
        </div>

      </div>

      <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
        <img src="assets/img/about-img.svg" class="img-fluid" alt="">
      </div>
    </div>



  </div>
</section><!-- End About Section -->
