.main{
  margin:30px 0px;
}
form{
  width: 80%;
  margin: 0px auto 25px;
}
span {
	color: red;
	margin-left: 4px;
}
.fieldRow{
 margin-bottom: 20px;
}

button{

  margin: 0px auto;
}

h5
{ text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

