table{
  border-collapse:collapse;
  width:100%;
  border: 1px solid black;
}

th,td{
  border: 1px soild black;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd){
  background-color: rgb(225, 233, 236);
}

tr,tr td:hover{
  background-color:rgb(213, 218, 221);
}
.button{
width: 30px;
}
