<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home.component.css">

</head>
<body>
  <section id="hero" class="clearfix">
    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="assets/img/hero-img.svg" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>Welcome to the<br><span>IBM Bank</span><br>Services!</h2>
        <div>
          <a href="" class="btn-get-started scrollto" routerLink="/login" routerLinkActive="active">Employee Login</a>

            <a href="" class="btn-get-started scrollto" routerLink="/customer" routerLinkActive="active">Customer Login</a>


        </div>
      </div>

    </div>
  </section>
</body>
