<nav style="background-color: rgb(230, 227, 227);height: 25px;">

  <a
    class="nav-link ml-auto"
    style="padding-top: 0px;float:right;padding-right: 23px;"
    routerLink="/login"
    routerLinkActive="active"
    ><b>Log Out</b></a
  >

</nav>
<div class="row fieldRow">
  <div class="col-sm-6">
    <img src="assets/img/about-img.svg" class="img-fluid" alt="">
  </div>
<div class="col-sm-6">
  <div class="buttons">
    <button routerLink="/createaccount" routerLinkActive="active" class="btn btn-primary btn-block">Create Account </button>
  </div>
  <div class="buttons">
    <button routerLink="/searchall" routerLinkActive="active" class="btn btn-primary btn-block">Accounts</button>
  </div>
  <div class="buttons">
    <button routerLink="/updateEmployee" routerLinkActive="active" class="btn btn-primary btn-block">Update</button>
  </div>
  </div>
</div>



